.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.section-steps {
    background-color: whitesmoke;
}

.section-steps img {
    margin-left: 30%;
    margin-top: 15%;
    width: 60%;
}

.section-steps h2 {
    color: black;
    font-size: 190%;
    font-weight: 550;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-left: 0;
    margin-bottom: 20px;
}

.section-steps h2:after {
    margin-top: 30px;
    background-color: #3498db;
    display: block;
    height: 2px;
    width: 300px;
    content: "";
}

.section-steps h3 {
    color: black;
    font-size: 120%;
    font-weight: 300;
}

.step-box-1 {
    float: left;
    display: block;
    text-align: left;
    /*does not only applied to text, but all elements?*/
    margin-top: 30px;
    width: 40%;
}

.step-box-2 {
    float: left;
    width: 45%;
    margin-top: 30px;
    margin-left: 10%;
}


